<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lordsomen.android.com.letsbake">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.BakingDetailsActivity" />
        <activity android:name=".activities.StepDetailsActivity" />

        <receiver android:name=".widget.BakingAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_app_widget_info" />

        </receiver>

        <service
            android:name=".widget.BakingWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <provider
            android:name="lordsomen.android.com.letsbake.data.BakingContentProvider"
            android:authorities="lordsomen.android.com.letsbake.data"
            android:exported="true"
            />

    </application>

</manifest>